.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 1600px;
    margin-top: 50px;
    color: var(--color-light);
    gap: 80px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.title > h1 {
    font-size: 48px;
}

.diferent_word {
    color: var(--color-detail);
}

